<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
Admin Page

<!--форма отправляется пост запросом на адрес /auth/registration.
В качестве объекта формы - user с контроллера-->
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    <br/>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <input type="submit" value="Sign up!">
</form>

<a th:href="@{/user}">На страницу юзера</a>
<a th:href="@{/admin}">На страницу админа</a>
<a th:href="@{/login}">На страницу логина</a>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>