<!DOCTYPE html>
<!--xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>





<h1>Welcome, <span th:text="${user.username}">Username</span>!</h1>

<table>
    <tr>
        <th>Name:</th>
        <td th:text="${user.username}">Name</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td th:text="${user.email}">Email</td>
    </tr>
    <tr>
        <th>Password:</th>
        <td th:text="${user.password}">Password</td>
    </tr>
</table>








<a th:href="@{/user}">На страницу юзера</a>
<a th:href="@{/admin}">На страницу админа</a>
<a th:href="@{/login}">На страницу логина</a>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>